body{
	margin: 0;
	padding: 0;
}
#canvas{
	overflow:hidden;
	width:100%;
	height:100%;
	opacity: 0.8;
}
#intro-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}
#intro-wrapper #intro-text{
	margin-top:15%;
	text-align:center;
}
#intro-wrapper #intro-text h1{
	color:#EEE;
	font-size:72px;
	margin-bottom:0px;
}
#intro-wrapper #intro-text p{
	color:white;
	font-size:18px;
}
.circular-div{
	border-radius:50%;
}
#intro-wrapper img:hover{
	background-color:white;
}

