body{
	margin: 0;
	padding: 0;
	font-family:'Roboto', sans-serif;
}
p{
	font-size:20px;
}
.title{
	font-style:italic;
	font-weight:bold;
	font-family:'Lora', serif;
	font-size:72px;
}
#canvas{
	overflow:hidden;
	width:100%;
	height:100%;
	opacity: 0.8;
	background:#00003D;
}
#intro-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	text-align:center;
}
#intro-wrapper #intro-text{
	margin-top:10%;
	text-align:center;
}
#intro-wrapper #intro-text h1{
	color:#EEE;
	margin-bottom:0px;
}
#intro-wrapper #intro-text p{
	margin-top:0px;
	font-size:24px;
	color:white;
}
#intro-wrapper #intro-text a:hover,a:active,a:link,a:visited{
	color:white;
}
#intro-wrapper img{
	border-radius:50%;
}
#profile-picture{
	width:200px;
	height:200px;
	margin-top:15px;
	margin-bottom:15px;
}
#contact-buttons{
	width:100%;
	margin:0 auto;
	text-align:center;
}
#contact-buttons ul{
	margin-top:50px;
	padding:0;
}
#contact-buttons ul li{
	display:inline-block;
	text-decoration:none;
	padding:5px;
}
.social-media-button{
	border-radius:50%;
	width:50px;
	height:50px;
	transition-duration:0.5s;
	margin: 0 auto;
}
.social-media-button:hover{
	background-color:#EEE; 
}
.social-media-button img{
	width:110%;
	height:110%;
	margin-top:-5%;
	margin-left:-5%;
}
#mail-button{
	text-decoration:none;
	font-size:24px;
	background-color:#00003D;
	border:1px solid #555;
	border-radius:5%;
	padding:10px;
	color:white;
	opacity:0.8;
	border-bottom:3px solid black;
	transition-duration:0.5s;
}
#mail-button:hover{
	background-color:#000088;
}
#about{
	margin:25px auto;
	width:60%;
}
#about h1{
	font-size:48px;
	font-weight:bold;
	margin:5px;
}
#about p{
	margin-top:5px;
	padding-bottom:0px;
	margin-bottom:0px;
}
#about #bio{
	border-left: 15px solid #00003D;
	padding:15px 0px 15px 20px;
}
#about #bio a{
	color:black;
}
#about #works{
	border-left:15px solid #FFCC00;
	padding:10px 0px 0px 20px;
}
#about #works .project-preview{
	border-left:15px solid #FF6C00;
	padding-top:15px;
	padding-left:20px;
	margin-top:0px;
	margin-left:-20px;
}
#about #works .project-preview .project-description{
	padding-left:20px;
	margin-left:-20px;
	border-left:15px solid red;
	padding-top:15px;
}
#about #works .project-preview img{
	width:70%;
	display:block;
	margin:0 auto;
	text-align:center;
}
#about .section-title{
	padding-bottom:0px;
	margin-bottom:10px;
	margin-top:0px;
	font-size:24px;
	font-weight:bold;
}
#footer{
	clear:both;
	opacity:0.8;
	background-color:#00003D;
	color:#EEE;
	margin-top:50px;
}
#footer p{
	margin: 0 auto;
	padding: 10px;
	font-size:14px;
	text-align:center;
}
