/**************************************************************
FONTS
**************************************************************/
/**************************************************************
HEADER
***************************************************************/
#header {
    position: absolute;
    top: 0px;
    left:0px;
    width:100%;
    height: 100%;
    margin :0 auto;
    text-align: center;
    margin-top:12%;
}
#header-name {
    font-size:50px;
    margin-bottom:5px;
    font-color:#888888;
}
#header-description-text {
    margin:10px;
    font-family:"Raleway";
}
.header-buttons{
    margin:10px;
    width:50px;
    height:50px;
}
.header-buttons img{
    width:100%;
    height:100%
}
.header-buttons img:hover{
    opacity:.3;
}
#social-media-buttons{
    margin:0 auto;
    text-align:center;
}
#social-media-buttons ul{
    margin:0;
    padding:0;
}
#social-media-buttons ul li{
   display:inline-block; 
   text-decoration: none;
}

/********************************************************
FOOTER
*********************************************************/
#footer{
    margin:0 auto;
    text-align:center;
    font-family:'Raleway';
    margin-bottom:5%;
    margin-top:5%;
}
#footer img {
    border-radius:50%;
    width:150px;
    height:150px;
}
#contact-me-button {
    background:#3f2860;
    text-decoration:none;
    color:white;
    padding:10px;
    transition-duration:.5s;
    border-radius:7%;
    
}
#contact-me-button:hover{
    opacity:.6;
}
/********************************************************
CANVAS
*********************************************************/
canvas {
    display: block;
    background: #3F2860;
    overflow: hidden;
    margin:0 auto;
    opacity: .8;
}
/*******************************************************
DIV TYPES
********************************************************/
.circular-div{
    border-width:0px;
    border-radius:50%;
    transition-duration:.5s;
}
.circular-div:hover{
    background: #FFF
}

body {
    background:#FFFFCC;
    width:100%;
    height:100%;
    margin:0 auto;
    font-family:'Orbitron';
}
